/*Result Container*/
.results-container {
    display: flex;
    flex-flow: wrap;
}

.result-item {
    position: relative;
    padding: 16px;
    border: 1px solid #898989;
    margin: 16px;
    text-align: center;
    min-width: 200px;
    box-shadow: 2px 2px 2px #898989;
}

.image-username {
    color: #ff7f50;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: rgba( 0 ,0 ,0 , 0.8 );
    padding: 5px 10px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
    height: 100%;

}

.image {
    width: 100%;
    height: 100%;  /* 200px*/
}