body {
    background-color: #282c34;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.authButton {
    color: black;
    background-color: #09d3ac;
    margin: 10px;
}

.dropdownItem {
    background-color: #282c34;
    color: #09d3ac;
}

.dropdownItem:hover {
    background-color: #202e34;
    color: #7493ac;
}

.inputField {
    width: 400px;
}

.pre-pend {
}

.inputGroupLogin {
}

#dropdownMenu {
    background-color: black;
}

#dropdown {
    color: white;
    font-weight: bolder;
    margin: 10px;
}

#companyName {
    display: flex;
    justify-content: center;
    color: #09d3ac;
    font-size: xx-large;
}

#navbar {
    background-color: #2B2927;
}

#loginPage {
    width: 100%;
    height: 100%;
    background-color: #282c34;
}

#inputFieldsLogin {
    margin: auto;
}

#loginCameraDisabled {
    color: #7493ac;
}

#testImage {
    width: 200px;
    height: 250px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}