.react-calendar {
    background-color: black !important;
}

.react-calendar__month-view__days__day--weekend {
    color: aqua;
}

abbr, .react-calendar__navigation__label {
    color: white !important;
}

.react-calendar__tile--active {
    background: rgba(87, 87, 87, 0.55) !important;
}

.react-calendar {
    border-color: white !important;
}

.react-grid-item .react-draggable .cssTransforms .react-resizable {
    background-color: black !important;
}

.react-clock__hand__body, .react-clock__mark__body {
    background-color: white !important;
}

.btn-danger, .btn-primary {
    background-color: black !important;
}

.card {
    border: 1px solid white !important;
}